openapi: 3.1.0
info:
  title: env0 Agents Deployments API
  version: 1.0.0
  description: REST API for the env0 infrastructure-as-code automation platform. Provides programmatic access to organizations, projects, environments, deployments, templates, modules, agents, configuration variables, credentials, RBAC, approval policies, and VCS provider mappings. Rate limited to 1,000 requests per 60 seconds. Best-effort spec derived from publicly documented surfaces; not exhaustive.
  contact:
    name: env0 Support
    url: https://docs.envzero.com/
  license:
    name: Proprietary
servers:
- url: https://api.env0.com
  description: env0 API production base URL
security:
- basicAuth: []
tags:
- name: Deployments
paths:
  /environments/{environmentId}/deployments:
    parameters:
    - in: path
      name: environmentId
      required: true
      schema:
        type: string
    post:
      tags:
      - Deployments
      summary: Trigger a deployment on an environment
      operationId: deployEnvironment
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                blueprintRevision:
                  type: string
                userRequiresApproval:
                  type: boolean
      responses:
        '201':
          description: Deployment triggered
  /environments/{environmentId}/deployments/{deploymentId}:
    parameters:
    - in: path
      name: environmentId
      required: true
      schema:
        type: string
    - in: path
      name: deploymentId
      required: true
      schema:
        type: string
    get:
      tags:
      - Deployments
      summary: Get a deployment log
      operationId: getDeployment
      responses:
        '200':
          description: Deployment
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Authentication. Username is the env0 API Key ID and the password is the API Key Secret, both created in the env0 organization settings.
