openapi: 3.1.0
info:
  title: env0 Agents Environments API
  version: 1.0.0
  description: REST API for the env0 infrastructure-as-code automation platform. Provides programmatic access to organizations, projects, environments, deployments, templates, modules, agents, configuration variables, credentials, RBAC, approval policies, and VCS provider mappings. Rate limited to 1,000 requests per 60 seconds. Best-effort spec derived from publicly documented surfaces; not exhaustive.
  contact:
    name: env0 Support
    url: https://docs.envzero.com/
  license:
    name: Proprietary
servers:
- url: https://api.env0.com
  description: env0 API production base URL
security:
- basicAuth: []
tags:
- name: Environments
paths:
  /environments:
    get:
      tags:
      - Environments
      summary: List environments
      operationId: listEnvironments
      parameters:
      - in: query
        name: projectId
        schema:
          type: string
      responses:
        '200':
          description: Environments list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Environment'
    post:
      tags:
      - Environments
      summary: Create an environment and trigger deployment
      operationId: createEnvironment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Environment'
      responses:
        '201':
          description: Environment created
  /environments/{environmentId}:
    parameters:
    - in: path
      name: environmentId
      required: true
      schema:
        type: string
    get:
      tags:
      - Environments
      summary: Get an environment
      operationId: getEnvironment
      responses:
        '200':
          description: Environment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Environment'
    delete:
      tags:
      - Environments
      summary: Destroy and delete an environment
      operationId: destroyEnvironment
      responses:
        '204':
          description: Environment scheduled for destruction
components:
  schemas:
    Environment:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        projectId:
          type: string
        status:
          type: string
        blueprintId:
          type: string
        latestDeploymentLogId:
          type: string
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Authentication. Username is the env0 API Key ID and the password is the API Key Secret, both created in the env0 organization settings.
